
.main-title {
	font-family: var(--title-font);
	font-weight: 700;
	line-height: 115%;

	font-size: 1.875rem;

	@include _768 {
		font-size: 2.5rem;
	}

	@include _992 {
		font-size: 3.125rem;
	}
}

.title {
	
	font-family: var(--title-font);
	font-weight: 400;

	font-size: 2.25rem;
	line-height: 108.333333%;

	@include _768 {
		font-size: 2.5rem;
	}

	@include _992 {
		font-size: 3.75rem;
		line-height: 120%;
	}

	&._min {
		font-size: 2.25rem;
		line-height: 138.888889%;

		@include _768 {
			font-size: 2.5rem;
		}

		@include _992 {
			font-size: 2.75rem;
			line-height: 113.636364%;
		}
	}

	&._large {
		font-size: 2.375rem;

		@include _550 {
			font-size: 3rem;
		}
		
		@include _768 {
			font-size: 4rem;
		}
		
		@include _992 {
			font-size: 4.5rem;
			line-height: 100%;
		}
	}

}

.accent-span {

	@include _992 {
		font-size: 1.375rem;
	}

	font-weight: 500;
	font-size: 1.125rem;
	line-height: 163.636364%;
	color: var(--accent);
	
}

.section-title {

	font-family: var(--title-font);
	font-weight: 700;

}

.txt-center {
	text-align: center;
}

p {
	padding-top: 14px;
}

.number {
	&::before {
		counter-increment: block_number;
		content: counter(block_number)".";

		display: block;
	
		font-family: var(--title-font);
		font-size: 2.25rem;
		line-height: 78.26087%;
		color: var(--text-color);

		padding-bottom: 19px;
		
		@include _768 {
			font-size: 2.5rem;
		}
		
		@include _992 {
			font-size: 2.875rem;
		}

	}

	width: 100px; 
	border-bottom: 3px solid var(--accent);
}

.text {
	font-size: 1rem;
	font-weight: 300;
	line-height: 200%;

	@include _992 {
		font-size: 1.125rem;
	}
}
