.album-slider {

	padding: 0 10%;
	margin-top: 30px;
	@include _992 {
		padding: 0 23.9%;
		margin-top: 40px;
	}

	// .album-slider__wrapper

	&__wrapper {
	}

	// .album-slider__slide

	&__slide {

		height: auto;

		// .album-slider__slide--image

		&--image {

			width: 100%;
			//min-height: 200px;
			/* width: 100%; max-height: 100%;
			@include _992 {
				min-height: 100%; 
			} */

			& img {
				object-fit: contain;
				background: transparent;
			}
			
			&::after {
				display: none;
			}
		}
	}

	// .album-slider__nav

	&__nav {
		display: flex;
		justify-content: center;

		margin: 0 -12px;
		padding-top: 5px;
		@include _992 {
			padding-top: 20px;
		}
	}

	// .album-slider__arrow

	&__arrow {
		background: transparent;
		position: static;
		margin: 0 12px;
		fill: var(--text-color);

		width: 81px; height: 45px;

		&::after {
			display: none;
		}

		& svg {
			transition: fill .3s ease;
		}

		&:hover {
			fill: var(--accent-hover);
		}
		
		&:active {
			fill: var(--accent-active);
		}
	}
}
