@use 'sass:math';

.info-hero {

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: var(--height-screen-min);
	margin-bottom: 80px;

	@include _992 {
		min-height: min(650px,var(--height-screen-min));
		margin-bottom: 114px;
	}

	// .info-hero__bg

	&__bg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: -1;
		user-select: none; pointer-events: none;

		&::after {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: var(--text-color);
			opacity: .1;
			pointer-events: none;
		}

		& img {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			object-fit: cover;
			background: #D9D9D9;
		}
	}

	// .info-hero__content

	&__content {
		display: flex;
		align-items: center;

		flex: 1 1 auto;
	}

	// .info-hero__title

	&__title {
		color: var(--white);
		max-width: 615px;

		padding: 30px 0 50px 0;
	}

	// .info-hero__nav

	&__nav {

		position: relative;
		@include _992 {
			margin-left: max(1px, calc(50% - #{math.div($container, 2)}px));
			transform: translate(-1px, 0);
		}
		&::before {
			content: '';
			position: absolute;
			right: calc(100% - 1px); top: 0;
			width: 100vw; height: 100%;
			background: var(--white);
		}

		// .info-hero__nav--body

		&--body {

			overflow-x: auto;
			
			& ul {
				display: inline-flex;
				background: var(--white);

				margin: 0 0 0 -20px; padding-right: 20px; padding-left: 20px;
			}
			
			& a {
				display: block;
				padding: 20px;
				white-space: nowrap;

				font-weight: 500;
				font-size: 0.8125rem;
				line-height: 153.846154%;
				text-transform: uppercase;
				color: var(--text-color);

				border-bottom: 1px solid transparent;
				transition: color .3s ease;
				&:hover {
					color: var(--accent-hover);
				}
				
				&:active {
					color: var(--accent-active);
				}
			}
		}
	}
}

.info-header {
	
	padding-bottom: 30px;

	@include _768 {
		padding-bottom: 60px;
	}

	@include _992 {
		padding-bottom: 112px;
	}
}
